*{
    font-size: 'Montserrat',sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
body{
    background-color: #000000;
    color: #ffffff;
}

.main{
    display: flex;
    height: 100vh;
    padding: 0.5rem;
}

.sidebar{
    background-color:rgb(0, 0, 0);
    width: 400px;
    border-radius: 1rem;
    flex-direction: column;
    display: flex;

}

.main-content{
    background-color:#121212;
    flex: 1;
    border-radius: 1rem;
    overflow: auto;
    margin-left: 0.5rem;
    padding: 0 1.5rem 0 1.5rem;
}

.Music-player{
    background-color:black;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 72px;
    
    
}

a{
    text-decoration: none;
    color: #fff;
}
.nav{
    background-color: #121212;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
    padding: 0.5rem 0.75rem;
}

.nav-option{
    line-height: 40px;
    opacity: 0.7;
    padding: 0.5rem 0.75rem;
}

.nav-option:hover{
    opacity: 1;
}

.nav-option i{
    font-size: 1.25rem;
    
}
.nav-option a{
    font-size: 1.30rem;
    margin-left: 1rem;
}

.library{
    background-color: #121212;
    border-radius: 1rem;
    height: 100%;
    margin-top: 0.5rem;
    padding: 0.5rem 0.75rem;
}
.option{
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.lib-option img{
    height: 1.30rem;
    width: 1.30rem;
}

.icons{
    font-size: 1.25rem;
    display: flex;
    
}

.icons i{
    opacity: 0.7;
    margin-right: 1.25rem;
    margin-top: 1.25rem;
}

.icons i:hover{
    opacity: 1;
}

.box{
    background-color: #232323;
    height: 10rem;
    border-radius: 0.75rem;
    margin: 0.75rem 0 1.75rem 0;
    padding: 1rem 1.25rem;

}


.box-p1 {
    font-size: 1.32rem;
    font-weight: 700;
    /* margin-bottom: 1rem; */
    line-height: 1.6rem;
}

.box-p2 {
    font-size: 1.11rem;
    font-weight: 500;
    margin: 0.75rem 0 1.25rem 0;
    line-height: 1.25rem;
    opacity: 0.9;
}

.badge {
    height: 2.25rem;
    width: fit-content;
    padding: 0.25rem 1rem;
    font-size: 0.79rem;
    font-weight: 700;
    border-radius: 100px;
    border: none;
}

.dark-badge{
    background-color: black;
    color:#fff ;
}
.sticky-nav{
    position: sticky;
    top: 0;
    background-color: #121212;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0 1rem 0;
    z-index: 10;
}
.sticky-nav-icons {
    margin-left: 0.75rem;
}

.sticky-nav-options{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-item{
    margin-right: 1.5rem;
}

@media(max-width:1000px){
    .hide{
        display: none;
    }
}

.card {
    background-color: #232323;
    height: 350px;
    width: 250px;
    padding: 1rem;
    border-radius: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;
    margin: 0.5rem 1rem 0 0;
}

.cards h2{
    
    margin: 24px 0px;
    /*margin-bottom: 1rem;*/
}

.cards-container{
    display: flex;
}
.card-img{
    width: 100%;
    border-radius: 0.5rem;
}

.card-info {
    font-size: 1rem;
    font-weight: 600;
    opacity: 0.8;
}

.card-title{
    font-weight:900;
    font-size:1.45rem ;
}

.footer {
    height: 12rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.line {
    height: 50%;
    width: 95%;
    border-top: 2px solid white;
    opacity: 0.5;
}

.Music-player{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.album{
    width: 25%;
}

.player{
    width: 50%;
}

.controls{
    width: 25%;
}

.player-controls-icon{
    height: 1.25rem;
    margin-right: 2rem;
    opacity: 0.7;
}
.player-controls{
    display: flex;
    justify-content: center;
    align-items: center;
}
.player-controls-icon:hover{
    opacity: 1.25;
}
.playback-bar{
    display: flex;
    justify-content: center;
    align-items: center;
}
.progress{
    width: 70%;
    cursor: pointer;
}
.album {
    height: 100%;
    width: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.album-pic{
    height: 4rem;
    width: 4rem;
}


.abt-1 {
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 900;
}

.abt-1:hover {
    text-decoration: underline;
    cursor: pointer;
}

.abt-2 {
    font-size: 0.75rem;
    line-height: 1rem;
    opacity: 0.8;
}

.abt-2:hover {
    opacity: 1;
    text-decoration: underline;
    cursor: pointer;
}


.album-icon1 {
    height: 1.75rem;
    opacity: 0.8;
}

.album-icon1:hover {
    opacity: 1;
}

.album-icon2 {
    height: 2.20rem;
    opacity: 0.8;
}

.album-icon2:hover {
    opacity: 1;
}

.controls {
    width: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ctrl-icon {
    height: 3.25rem;
    opacity: 0.7;
}

.ctrl-iconx {
    height: 1.75rem;
    opacity: 0.7;
}

.ctrl-icony {
    
    height: 1.55rem;
    opacity: 0.7;
}

.volumn-bar {
    width: 7.55rem;
    margin-right: 0.75rem;
    padding-left: 1rem;}

.control:hover {
    opacity: 1;
    cursor: pointer;
}